.bg-fundo{
    background-color: #e9f3fe;
    height: 100vh;
}
.bg-fundo-alterar{
    background-color: #e9f3fe;
}
.imagem-login{
    margin-left: 30px;
    margin-top: 85px;
}
.logo-img{
    margin-top: 20px;
    margin-left: 50px;
}
.color-grey{
    color: #9f9ea9 !important;
    text-decoration: none;
}
.titulo-login{
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    color: #dd4c88;
    margin-top: 60px;
    margin-left:50px;
    line-height: 35px;
}
.font-input{
    font-family: 'Lato', sans-serif;
    font-size: 11px;
}
.div-input{
    margin-left: 50px;
}
.login-check{
    margin-left: 50px;
    font-size: 9px;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    color: #9f9ea9;
}
.login-check-alterar{
    margin-left: 50px;
    font-size: 9px;
    font-family: 'Lato', sans-serif;
    margin-top: 2px;
    color: #9f9ea9;
}
.btn-botao{
    background-color:#017eec ;
    font-size: 12px;
    width: 150px;
    height: 35px;
    font-family: 'Lato', sans-serif;
    color: white;
    margin-left: 50px;
    margin-top: 10px;
}
.btn-botao-um{
    color: white !important;
    text-decoration: none;
}
.btn-verde{
    background-color:#42b72a;
    font-size: 12px;
    width: 150px;
    height: 35px;
    font-family: 'Lato', sans-serif;
    color: white;
    margin-left: 50px;
    margin-top: 10px;
}
.titulo-cadastro{
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    color: #dd4c88;
    margin-top: 40px;
    margin-left:50px;
    line-height: 35px;
}
.login-check-cadastro{
    margin-left: 50px;
    font-size: 9px;
    font-family: 'Lato', sans-serif;
    margin-top: 40px;
    color: #9f9ea9;
}
.btn-botao-cadastrar{
    background-color:#017eec ;
    font-size: 12px;
    width: 150px;
    height: 35px;
    font-family: 'Lato', sans-serif;
    color: white;
    margin-left: 50px;
    margin-top: 10px;
}
.titulo-login-alterar{
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    color: #dd4c88;
    margin-top: 20px;
    margin-left:50px;
    line-height: 35px;
}
.logo-img-alterar{
    margin-top: -20px;
    margin-left: 80px;
}
.link{
    text-decoration: none;
    color:white !important;
}
/*dashbord*/
.bg-dash{
    background-color: #f4f9fe;
    height: 90px;
    padding-left: 40px;
    padding-top: 15px;
}
.font-dash{
    font-family: 'Lato', sans-serif;
    color: #505155 !important;
    text-decoration: none;
    font-size: 13px;
    padding-left: 35px ;
}
.font-dash:hover{
    color: #017eec !important;
}
.img-dash{
    margin-left: -13px;
}
.bg-add-nome{
    background-color: #f4f9fe;
    height: 46px;
    margin-left: -19px;
}
.bg-img{
    background-color: #f4f9fe;
    max-width: 190px;
    margin-right: 20px;
    margin-right: 20px;
    margin-right: 20px;
}
.font-img-dash{
    font-size: 9px;
    font-family: 'Lato', sans-serif;
    color: #9f9ea9 !important;
}
.card-dash{
    line-height: 12px;
    margin-top: 15px;
    margin-left:10px;
}
.font-number-dash{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #9f9ea9 !important;
}
.margin-dash{
    margin-left: -175px;
}
.margin-dash-um{
    margin-left: -82px;
}
.projeto-dash-usuario{
    margin-left: 60px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: #505155;
}
.fa-bars{
    color: #505155 !important;
    margin-left: 80px;
    font-size: 17px;
    display: none;
}
.btn-dash{
    background-color:#42b72a ;
    font-size: 9px;
    width: 150px;
    height: 35px;
    font-family: 'Lato', sans-serif;
    color: white;
    margin-left: 50px;
    margin-top: 10px;
}
.btn-dash-projeto{
    background-color:#42b72a ;
    font-size: 9px;
    width: 94px;
    height: 27px;
    font-family: 'Lato', sans-serif;
    color: white;
    margin-left: 29px;
}
.font-titulo-projeto{
    color: #505155 !important;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
}
.fa-pen{
    cursor: pointer;
    margin-left: 80px;
}
.fa-trash-alt{
    cursor: pointer;
    margin-left: 40px;
}
.font-pequena{
    font-size: 12px
}
.margin-status{
    margin-left: 53px;
}
.margin-termino{
    margin-left: 29px;
}
.data-termino-margin{
    margin-left: 35px;
}

/**/
.card-um{
    width: 25rem;      
    border-radius: 15px;
    margin-left: 20px;
}
.div-input-um{
    margin-left: 47px;
}
.card-esqueceu{
    width: 25rem; 
    margin-left: 20px; 
    border-radius: 15px; 
    margin-top: 55px;
}
.card-add-projeto{
    border-radius: 15px;
    margin-left: 20px;
    width: 30rem;
}
.titulo-projeto-add{
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    color: #dd4c88;
    margin-top: 20px;
    margin-left:50px;
    line-height: 35px; 
}
/*usuario*/

.margin-usuario-left{
    margin-left: -21px;
}
.bg-usuario{
    background-color: #f4f9fe;
    height: 45px;
    padding-left: 40px;
    font-size: 12px;
    width: 874px;
    padding-top: 15px;
}
.inserir-usuario{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #9f9ea9 !important;
    padding-left: 40px;
}
.cpf-margin{
    margin-left: -25px;
}
.acao-margin{
    margin-left: -130px;
}
.fa-pen{
    color: black;
    background: rgba(255,255,255,0.8);
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    padding: 5px 5px 5px 6px;
    margin-top: -10px;
}
.fa-trash-alt{
    color: black;
    background: rgba(255,255,255,0.8);
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    padding: 5px 5px 5px 6px;
    margin-top: -10px;  
}
/*dashbord*/
.dashbord{
    margin-left:-12px;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color: #505155;
    margin-bottom: 10px;
    margin-top: 20px;
}
.dashbord-projeto{
    margin-left:-12px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: #505155;
    margin-bottom: 10px;
    margin-top: 20px;   
}
.dashbord-calendario{
    margin-left:-150px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: #505155;
    margin-bottom: 10px;
    margin-top: 20px;   
}
.card-dashbord{
    width: 18rem; 
    margin-right: 22px;     
    height: 170px; 
    background-color: #f4f9fe; 
}
.cor-verde-dash{
    height: 48px; 
    margin-left: -28px; 
    background-color: #42b72a;     
    width: 286px;
    padding-top: 11px;
    padding-left: 10px;
    color: #f4f9fe;
    font-family: 'Lato', sans-serif; 
}
.cor-azul-dash{
    height: 48px; 
    margin-left: -28px; 
    background-color:#017eec;     
    width: 286px;
    padding-top: 15px;
    padding-left: 6px;
    font-size: 12px;
    color: #f4f9fe;
    font-family: 'Lato', sans-serif; 
}
.cor-vermelho-dash{
    height: 48px; 
    margin-left: -28px; 
    background-color: #f04840;     
    width: 286px;
    padding-top: 11px;
    padding-left: 10px;
    color: #f4f9fe;
    font-family: 'Lato', sans-serif; 
}
.descriçao{
    font-family: 'Lato', sans-serif;
    color: #9f9ea9 !important;
    margin-top: -13px;
    font-size: 12px;
}
.font-projeto{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color: #505155;
    margin-top: 12px;
}
.small-data{
    font-family: 'Lato', sans-serif;
    color: #9f9ea9 !important;
}

@media (max-width: 320px) {
    .imagem-login {
        margin-left: -10px;
        margin-top: 105px;
        width: 318px;
        height: 351px;
    }
    .card-esqueceu {
        width: 19rem;
        margin-left: 6px;
    }
    .div-input-um {
        margin-left: 24px;
    }
    .btn-botao-cadastrar{
        margin-left: 26px;
    }
    .titulo-login {
        margin-left: 25px;
        font-size: 30px;
    }
    .login-check-cadastro{
        margin-left: 25px;
    }
    .btn-verde{
        margin-left: 25px;
        margin-bottom: 25px;
    }
    .btn-botao{
        margin-left: 25px;
    }
    .card-um {
        width: 19rem;
        margin-left: 0px;
    }
    .div-input{
        margin-left: 25px;
    }
    .titulo-login-alterar {
        margin-left: 24px;
    }
    .login-check{
        margin-left: 25px;
    }
    .logo-img{
        margin-left: 19px;
    }
    .bg-dash {
        padding-left: 22px;
    }
    .font-dash{
        padding-left: 20px;
    }
    .margin-dash {
        margin-left: -10px;
    }
    .display-responsivo{
        display: none;
    }
    .display-responsivo-icone{
        display: block;
        margin-top: 15px;
    }
    .bg-img{
        max-width: 125px;
    }
    .card-dash {
        margin-top: 5px;
    }
    .font-img-dash {
        font-size: 5px;
    }
    .margin-dash {
        margin-left: 16px;
    }
    .fa-bars{
        display: block;
    }
    .logo-img-alterar {
        margin-left: 30px;
    }
    .card-add-projeto {
        margin-left: -3px;
        width: 18rem;
        margin-top: 40px;
    }
    .titulo-projeto-add{
        margin-left: 24px;
        font-size: 30px;
    }
}
@media (max-width: 375px) and (min-width: 321px){
    .font-dash{
        padding-left: 20px;
    }
    .margin-dash {
        margin-left: -10px;
    }
    .display-responsivo{
        display: none;
    }
    .div-input-um {
        margin-left: 22px;
    }
    .display-responsivo-icone{
        display: block;
        margin-top: 15px;
    }
    .bg-img{
        max-width: 145px;
    }
    .card-esqueceu {
        width: 22rem;
        margin-left: 0px;
    }
    .card-dash {
        margin-top: 8px;
    }
    .font-img-dash {
        font-size: 5px;
    }
    .logo-img-alterar {
        margin-left: 30px;
    }
    .margin-dash {
        margin-left: 20px;
    }
    .titulo-login-alterar {
        margin-left: 23px;
    }
    .card-um{
        width: 21rem;
        margin-left: 0px;
    }
    .fa-bars{
        display: block;
    }
    .imagem-login {
        margin-left: -10px;
        margin-top: 100px;
        width: 370px;
        height: 378px;
    }
    .btn-botao-cadastrar{
        margin-left: 26px;
    }
    .titulo-login {
        margin-left: 25px;
        font-size: 30px;
    }
    .login-check-cadastro{
        margin-left: 25px;
    }
    .btn-verde{
        margin-left: 25px;
        margin-bottom: 25px;
    }
    .btn-botao{
        margin-left: 25px;
    }
    .div-input{
        margin-left: 25px;
    }
    .login-check{
        margin-left: 25px;
    }
    .logo-img{
        margin-left: 19px;
    }
    .card-add-projeto {
        margin-left: 2px;
        width: 22rem;
        margin-top: 43px;
    }
}
@media (max-width: 576px) and (min-width:  376px) {
    .imagem-login {
        margin-left: -10px;
        margin-top: 100px;
        width: 419px;
        height: 398px;
    }
    .div-input-um {
        margin-left: 25px;
    }
    .card-esqueceu{
        width: 23rem;
        margin-left: 6px;
    }
    .btn-botao-cadastrar{
        margin-left: 26px;
    }
    .titulo-login {
        margin-left: 25px;
        font-size: 30px;
    }
    .login-check-cadastro{
        margin-left: 25px;
    }
    .btn-verde{
        margin-left: 25px;
        margin-bottom: 25px;
    }
    .btn-botao{
        margin-left: 25px;
    }
    .div-input{
        margin-left: 25px;
    }
    .login-check{
        margin-left: 25px;
    }
    .logo-img-alterar {
        margin-top: -20px;
        margin-left: 34px;
    }
    .titulo-login-alterar {
        margin-left: 26px;
    }
    .card-um{
        margin-left: 20px;
    }
    .logo-img {
        margin-left: 25px;
    }
    .font-dash{
        padding-left: 20px;
    }
    .margin-dash {
        margin-left: -10px;
    }
    .display-responsivo{
        display: none;
    }
    .display-responsivo-icone{
        display: block;
        margin-top: 15px;
    }
    .bg-img{
        max-width: 145px;
    }
    .card-dash {
        margin-top: 8px;
    }
    .font-img-dash {
        font-size: 5px;
    }
    .margin-dash {
        margin-left: 45px;
    }
    .fa-bars{
        display: block;
    }
    .card-add-projeto {
        margin-left: 9px;
        width: 25rem;
        margin-top: 54px;
    }
    
}
@media (max-width: 768px) and (min-width: 577px){
    .imagem-login {
        margin-left: -6px;
        margin-top: 100px;
        width: 400px;
        height: 398px;
    }
    .div-input-um {
        margin-left: 24px;
    }
    .titulo-login {
        margin-left: 25px;
        font-size: 30px;
    }
    .login-check-cadastro{
        margin-left: 25px;
    }
    .btn-verde {
        margin-left: 26px;
    }
    .btn-botao{
        margin-left: 25px;
    }
    .div-input {
        margin-left: 54px;
    }
    .login-check{
        margin-left: 25px;
    }
    .titulo-cadastro {
        margin-left: 23px;
    }
    .margin-dash {
        margin-left: -10px;
    }
    .btn-botao-cadastrar {
        margin-left: 26px;
    }
    
    .margin-dash {
        margin-left: -10px;
    }
    .fa-pen {
        margin-left: 100px;
    }
    
    .fa-trash-alt {
        margin-left: 90px;
    }
    .logo-img-alterar {
        margin-top: -40px;
    }
}
@media (max-width: 1200px) and (min-width: 993px) {
    .imagem-login {
        margin-left: -6px;
        margin-top: 62px;
        width: 550px;
        height: 469px;
    }
    .cadastro-responsivo{
        margin-top: -18px;
    }
    .btn-botao-cadastrar{
        margin-top: -3px;
    }
    .card-dash {
        margin-top: 9px;
    }
    .bg-img{
        max-width: 160px;
    }
    .font-img-dash{
        font-size: 7px;
    }
    .font-number-dash {
        font-size: 13px;
    }
    .btn-dash-projeto{
        margin-left: 16px;
        margin-top: -8px;

    }
    .margin-status{
        margin-left: 39px;
    }
    .fa-trash-alt {
        margin-left: 60px;
    }
    
    
    .margin-dash {
        margin-left: -65px;
    }
}
@media (max-width: 1440px) and (min-width: 1200px) {

}
@media (max-width: 2560px) and (min-width: 1441px) {
    .imagem-login {
        margin-left: 223px;
        margin-top: 219px;
        width: 900px;
        height: 800px;
    }
    .div-input-um{
        margin-left: 98px;
    }
    .logo-img {
        margin-top: 56px;
        margin-left: 100px;
        width: 200px;
        height: 120px;
    }
    .btn-botao-cadastrar {
        margin-left: 100px;
    }    
    .titulo-cadastro {
        margin-left: 100px;
    }
    .titulo-login {
        font-size: 59px;
        margin-top: 352px;
        margin-left: 100px;
        line-height: 58px;
    }
    .login-check-cadastro{
        margin-left: 100px;
        font-size: 16px;
    }
    .btn-verde{
        margin-left: 100px;
        font-size: 12px;
        width: 160px;
        height: 40px;
    }
    .btn-botao{
        margin-left: 100px;
        font-size: 12px;
        width: 160px;
        height: 40px;
    }
    .div-input {
        margin-left: 47px;
    }
    .login-check{
        margin-left: 100px;
        font-size: 16px;
    }
    .font-input{
        font-size: 16.5px;
    }

}
